/* Moobile */
.Container{
    display: grid;
    grid-template-areas: "Header" "Nav" "content" "Ads" "footer";
    grid-template-rows: auto auto 1fr auto auto;
    min-height: 100vh;
}

/*Tablet*/
@media screen and (min-width:768px){
    .Container{
    grid-template-areas: "Header Header" "Nav content" "Ads Ads" "footer footer";
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 200px 1fr;
}
}

/*Desktop*/
@media screen and (min-width:1024px){

}

.Header{
    grid-area: Header;
    background-color: rgb(188, 76, 117);
    border-radius: 10px;
    color: rgba(226, 229, 231, 0.797);
}

.Nav{
    grid-area: Nav;
    background-color: rgb(160, 160, 177);
}

.content{
    grid-area: content;
    background-color: blueviolet;
}

.Ads{
    grid-area: Ads;
    background-color: rgb(103, 46, 75);
}

.footer{
    grid-area: footer;
    background-color: chocolate;
}